/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    color: inherit;
    text-decoration: none;
  }
  li {
    list-style: none;
  }

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 55px;
    box-sizing: border-box;
}

/*........HEADER........*/

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;    /* Centrer le contenu verticalement */
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
}

header .logo_accueil {
    padding-top: 0px;
    height: 19px;
    align-self: center;
}

nav {                        
    display: flex;
    width: 381;
    height: 19;
    top: 48px;
    padding-bottom: 31px;
    gap: 68px;                /* Espacement entre les liens de navigation */
}

nav a {                      
    height: 45px;
    display: flex;
    align-items: end;    /* Aligner les liens en bas */
    transition: color 0.2s, border-top 0.1s; 
}

nav a:hover {                /* Ajouter un effet de survol sur les liens */
    color: var(--main-color); /* le main color corresponds a la couleur du main */
    border-top: solid 4px var(--main-color);
}

/* Paragraphe */

.h1 {
    margin-bottom: 0px;
}

.h1_paragraphe{
    margin-top: 0px;
}